/* Загальні та обнулюючи стилі */

* {
	box-sizing: border-box;
}

:root {
	--brand-color: #2196F3;
	--hover-btn: #1e81d1;
	--main-color: #212121;
	--descr-color: #757575;
	--footer-link-color: rgba(255, 255, 255, 0.6);
	--secondary-bg: #2F303A;
	--team-bg: #F5F4FA;
	--potfolio-btn-bg: #F5F4FA;
	--white-color: #ffffff;
	--black-color: #000000;
	--team-bg: #F5F4FA;
	--card-list-gap: 27px;
	--icon-color: #AFB1B8;
	--timing-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	font-family: 'Roboto', sans-serif;
	color: var(--main-color);
	font-size: 16px;
	background-color: var(--white-color);
	margin: 0;
	padding: 0;
	border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.link {
	text-decoration: none;
}

.btn {
	font-family: inherit;
	cursor: pointer;
	border: none;
}

.section {
	padding: 94px 0;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
	text-align: center;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ----------------------------- Шапка----------------------------- */

.header {
	min-height: 80px;
	border-bottom: 1px solid #ECECEC;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
}

.menu-list {
	display: flex;
	align-items: center;
}

.menu-item+.menu-item {
	margin-left: 50px;
}

.header-logo {
	margin-right: 93px;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: var(--black-color);
	font-style: normal;
	font-size: 26px;
	line-height: 1.29;
	letter-spacing: 0.03em;
}

.logo>span {
	color: var(--brand-color);
}

.connection-nav-header {
	display: flex;
	align-items: center;
}

.menu-link {
	position: relative;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-color);
	transition: color var(--timing-transition);
	padding: 32px 0;
}

.menu-link:hover,
.menu-link:focus {
	color: var(--brand-color);
}

.menu-link:active {
	color: var(--main-color);
}

.menu-link.current {
	color: var(--brand-color);
}

.menu-link.current::after {
	content: '';
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	background-color: var(--brand-color);
	border-radius: 2px;
}

.connection-item+.connection-item {
	margin-left: 50px;
}

.header-link {
	color: var(--descr-color);
	padding: 32px 0;
	display: flex;
	align-items: center;
}

.main-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: color var(--timing-transition);
}

.main-link:hover,
.main-link:focus {
	color: var(--brand-color);
}

.header-icon {
	fill: var(--descr-color);
	margin-right: 10px;
}

.main-link:hover .header-icon,
.main-link:focus .header-icon {
	fill: var(--brand-color);
}

/* ----------------------------- Герой ----------------------------- */

.hero {
	text-align: center;

	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;

	background-color: var(--secondary-bg);
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 200px 0;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white-color);
	max-width: 696px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.hero-btn {
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--white-color);
	padding: 10px 32px;
	border: inherit;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background-color: var(--brand-color);
	font-weight: 700;
	transition: background-color var(--timing-transition);
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--hover-btn);
}

.benefits-title {
	font-size: 0;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

/* ----------------------------- Переваги ----------------------------- */

.benefits {
	padding-top: 94px;
}

.benefits-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.benefits-item {
	max-width: 270px;
}

.benefits-icon-wrapper {
	background-color: #F5F4FA;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;
}

.benefits-item-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.benefits-item-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--descr-color);
}

/* ----------------------------- Чим ми займаємось ----------------------------- */

.about-list {
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

.about-item {
	position: relative;
}

.about-text {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	min-height: 70px;

	background-color: rgba(47, 48, 58, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white-color);
}

/* ----------------------------- Наша команда ----------------------------- */

.team {
	background-color: var(--team-bg);
}

.team-list {
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
}

.team-item {
	max-width: 270px;
	background-color: var(--white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
}

.team-content {
	padding: 30px 0;
}

.team-item-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
}

.team-item-descr {
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--descr-color);
	margin-bottom: 16px;
}

.team-soc-list {
	display: flex;
	justify-content: center;
}

.team-soc-item+.team-soc-item {
	margin-left: 10px;
}

.team-soc-link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	border-radius: 100%;
	color: var(--icon-color);
	transition: background-color var(--timing-transition), color var(--timing-transition);
}

.team-soc-icon {
	fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
	background-color: var(--brand-color);
	color: var(--white-color);
}

/* ----------------------------- Постійні клієнти ----------------------------- */

.clients-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid var(--icon-color);
	border-radius: 4px;
	transition: color var(--timing-transition);
	color: var(--icon-color);
}

.clients-icon {
	fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
	border: 1px solid var(--brand-color);
	color: var(--brand-color);
}

/* ----------------------------- Навігація Портфоліо ----------------------------- */

.portfolio-navigation-item+.portfolio-navigation-item {
	margin-left: 8px;
}

.portfolio-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.navigation-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;
	color: var(--main-color);
	padding: 6px 22px;
	background-color: var(--potfolio-btn-bg);
	border-radius: 4px;
	border: inherit;
	transition: background-color var(--timing-transition),
		color var(--timing-transition),
		box-shadow var(--timing-transition);
}

.navigation-btn:hover,
.navigation-btn:focus {
	background-color: var(--brand-color);
	color: var(--white-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------------------------- Продукція ----------------------------- */

.production-title {
	font-size: 0;
	opacity: 0;
}

.production-list {
	display: flex;
	flex-wrap: wrap;
	gap: 27px;
}

.production-list>.production-item {
	flex-basis: calc(100% / 3 - var(--card-list-gap));
	background-color: var(--white-color);
}

.production-link {
	display: inline-block;
	border: 1px solid #EEEEEE;
	transition: box-shadow var(--timing-transition);
}

.production-link:hover,
.production-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.production-wrapper-content {
	position: relative;
	overflow: hidden;
	max-height: 294px;
}

.production-text {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	transform: translateY(100%);
	background: rgba(33, 150, 243, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 24px;

	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	color: var(--white-color);

	transition: transform var(--timing-transition);
}

.production-link:hover .production-text,
.production-link:focus .production-text {
	transform: translateY(0);
}

.production-img {
	margin-bottom: 20px;
}

.production-content {
	padding: 20px 0 20px 24px;
}

.production-name {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--main-color);
	margin-bottom: 4px;
}

.production-descr {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.88;
	letter-spacing: 0.03em;
	color: var(--descr-color);
}

/* ----------------------------- Футер ----------------------------- */

.footer {
	background-color: var(--secondary-bg);
	padding: 60px 0;
}

.footer-inner {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.footer-logo {
	display: inline-block;
	color: var(--white-color);
	margin-bottom: 20px;
}

.footer-address {
	font-style: normal;
	font-size: 14px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--white-color);
	margin-bottom: 9px;
}

.connection-item-footer+.connection-item-footer {
	margin-top: 9px;
}

.footer-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--footer-link-color);
}

.footer-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-color);
	margin-bottom: 20px;
}

.footer-soc-list {
	display: flex;
}

.footer-soc-item+.footer-soc-item {
	margin-left: 10px;
}

.footer-soc-link {
	display: flex;
	padding: 12px;
	color: var(--white-color);
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color var(--timing-transition);
}

.footer-soc-icon {
	fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
	background-color: var(--brand-color);
}

.footer-field {
	display: flex;
	align-items: center;
}

.footer-field>label {
	margin-right: 12px;
}

.footer-input {
	background-color: transparent;
	padding: 15px;
	width: 358px;
	height: 50px;
	color: var(--white-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	transition: border var(--timing-transition);
}

.footer-input:focus,
.footer-input:focus-visible {
	outline: none;
	border: 1px solid var(--brand-color);
}

.footer-subscribe {
	display: flex;
	align-items: center;
	padding: 10px 28px;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	color: var(--white-color);
	background-color: var(--brand-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	transition: background-color var(--timing-transition);
}

.footer-subscribe:hover,
.footer-subscribe:focus {
	background-color: var(--hover-btn);
}

.footer-subscribe-icon {
	margin-left: 10px;
}

/* ----------------------------- Модальне вікно ----------------------------- */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	visibility: visible;
	transition: opacity var(--timing-transition), visibility var(--timing-transition);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 40px;
	transform: translate(-50%, -50%);
	width: 528px;
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.close-btn-modal {
	position: absolute;
	right: 8px;
	top: 8px;
	padding: 15px;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	max-width: 30px;
	max-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-btn-icon {
	min-width: 11px;
	height: 11px;
	fill: currentColor;
	transition: color var(--timing-transition);
}

.close-btn-modal:hover .close-btn-icon,
.close-btn-modal:focus .close-btn-icon {
	color: var(--brand-color);
}


.modal-title {
	text-align: center;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
}

.modal-form {
	display: flex;
	flex-direction: column;
}

.modal-form>label {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: #757575;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-link {
	color: var(--brand-color);
	transition: color var(--timing-transition);
	margin-left: 3px;
}

.form-link:hover {
	color: var(--hover-btn);
	text-decoration: none;
}

.form-field {
	display: flex;
	flex-direction: column;
	position: relative;
}

.form-field+.form-field {
	margin-top: 10px;
}

.form-field>label {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: #757575;
	margin-bottom: 4px;
}

.input-wrapper>input,
.input-wrapper>input {
	transition: border var(--timing-transition);
}

.input-wrapper>input:focus,
.input-wrapper>input:focus-visible {
	outline: none;
	border: 1px solid var(--brand-color);
}

.input-wrapper {
	position: relative;
}

.input-wrapper>input:focus+.input-icon,
.input-wrapper>input:focus-visible+.input-icon {
	fill: var(--brand-color);
}

.form-input {
	height: 40px;
	padding: 10px 10px 10px 40px;
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.input-icon {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	transition: fill var(--timing-transition);
}

.form-textarea {
	height: 120px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	transition: border var(--timing-transition);
}

.form-textarea:focus,
.form-textarea:focus-visible {
	outline: none;
	border: 1px solid var(--brand-color);
}

.form-checkbox {
	appearance: none;
	position: absolute;
}

.icon {
	display: inline-block;
	border: 2px solid var(--main-color);
	width: 15px;
	height: 15px;
	border-radius: 3px;
	margin-right: 7px;
}

.form-checkbox:checked+.icon {
	background-image: url('../images/icon-check.svg');
	background-color: var(--brand-color);
	background-size: cover;
	background-position: center;
	background-origin: border-box;
	border: none;
}

.form-btn {
	padding: 10px 52px;
	background-color: var(--brand-color);
	font-weight: 700;
	color: var(--white-color);
	letter-spacing: 0.06em;
	max-width: 200px;
	height: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: 0 auto;
	transition: background-color var(--timing-transition);
}

.form-btn:hover,
.form-btn:focus {
	background-color: var(--hover-btn);
}